:root {
    --background: #1d1d1d;
    --lighter-background: #292929;
    --text: #e7e7e7;
  }

body, html {
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
}

body {
    background-color: var(--background);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text); 
}

p, span, a, b, i{
    font-size: 1rem;
    text-decoration: none;
}

a:hover {
    text-decoration: underline gray;
    cursor: pointer;
}

a:hover .nazevskladbyspan {
    text-decoration: underline var(--text) !important;
}

.sidebar{
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    width: 280px;
    background-color: var(--lighter-background);
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
.sidebar a {
    display: block;
    color: #202022;
    margin-top: 4px;
    padding-top: 7px;
    margin-bottom: 4px;
    padding-bottom: 7px;
    padding-left: 5px;
    color: var(--text); 
    text-decoration: none;
}

.sidebar img{
    margin-right: 7px;
}
    
.sidebar a:hover {
    background-color: #353535;
    border-radius: 7px;
    color: var(--text);
}

.sidebar li {
    display: inline;
    align-items: center;
    vertical-align: middle
}

.sidebar img {
    display: inline;
    height: 22px;
    float: left;
}

ul.topbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 280px;
    background-color: rgba(29, 29, 29, 0.85);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    z-index: 1000;
    vertical-align: middle;
    position: fixed;
    top: 0;
    height: 70px;
    width: calc(100% - 280px);
}

.topbar li{
    float: left;
    display: flex;
    padding: 0px;
    position: relative;
    justify-content:center;
    align-items:center;
}

ul.progress-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left:280px;
    margin-top:59px;
    background-color: transparent;
    position: fixed;
    z-index: 1001;
}

.progress-bar li{
    float:left;
}

li input[type=text] {
    width: 100%;
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 17px;
    border: solid 1px;
    border-color: #353535;
    border-radius: 6px;
    background: transparent;
    color: white;
}

li button {
    width: 25%;
    padding: 6px;
    margin-top: 4px;
    background: var(--lighter-background);
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    float: left;
}

#songInfo {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 


.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(19, 19, 19, 0.85);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    z-index: 1000;
    vertical-align: middle;
    position: fixed;
    bottom: 0;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 42px 20px;
    height: 62px;
    width: 100%;
    text-align: center;
}

.footer img {
    height: 100%;
}

.footer p, img{
    margin: 0;
    padding: 0;
}
  

.main {
    margin-left:280px;
    padding: 80px 16px 1px;
}

.border {
    border-width: 2px;
    border-color: #9da3b4;
    border-style: solid;
    padding: 10px;
}

.red {
    color:rgb(255, 0, 0);
    border-left: solid;
    border-width: 7px;
    padding-left: 5px;
}

.green {
    color:rgb(0, 255, 0);
    border-left: solid;
    border-width: 7px;
    padding-left: 5px;
}

.block{
    border-radius: 15px;
    border-color: #373742;
    border-width: 2px;
    border-style: solid;
    padding: 5px 20px 5px 20px;
    background-color: #18181a;
}

.skladbadiv{
    width: 100%;
    display: grid;
    grid-template-columns: 38px 64px 6fr 5fr 5fr 64px 38px;
    grid-template-rows: auto;
    background-color: #212121;
    border-radius: 5px;
    padding: 7px;
    align-items:center;
}

.mobil {
    display: none;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.mobil .nazevskladbyspan{
    float: left;
    clear: left;
}

.mobil div{
    float: left;
    clear: left;
}

.skladbadiv2 {
    background-color: transparent;
}

.skladbadiv3 {
    grid-template-columns: 38px 32px 6fr 64px 38px !important;
}

.skladbadiv:hover, .skladbadiv2:hover{
    background-color: #343434;
}

.skladbadiv img{
    width: 42px;
    border-radius: 5px;
}

.skladbadiv .play-icon{
    background: url('../images/white-play-icon.svg') no-repeat;
    transform: translate(38px, 0px);
}

.skladbadiv3 .play-icon{
    transform: translate(26px, 0px) !important;
}

.skladbadiv:hover .play-icon {
    display: block;
}

.skladbadiv:hover .cislo {
    color: transparent;
}

.cislo {
    width: 16px;
    text-align: center;
}

.skladbadiv:hover .coverskladba {
    filter: brightness(0.5);
}

.skladbadiv .like-icon, .skladbadiv .download-icon{
    position: relative;
    display: unset;

    width: 32px;
    height: 32px;
    position: initial;
    right: initial;
    transform: initial;
    display: flex;
}

.skladbadiv .like-icon{
    background-image: url("../images/white-like-icon.svg");
}

.skladbadiv .download-icon{
    background-image: url("../images/save.png");
}

.skladbadiv .like-icon.liked{
    background-image: url("../images/white-liked-icon.svg");
}

.nazevskladbyspan{
    font-weight: bold; 
    color: var(--text) !important;
}

.skladbadiv .nazevskladbyspan{
    font-weight: unset !important; 
}

.skladbadiv span{
    color: #8D8D91;
}

/* artists */

.artist{
    border-radius:100% !important;
}

.gallery {
    position: relative;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 7px;
    transition: filter 0.15s ease;
}
  
div.desc {
    padding: 2px;
    text-align: center;
}
  
* {
    box-sizing: border-box;
}
  
.responsive {
    padding: 0 6px;
    float: left;
    width: 16.5%;
    height: 20vw;
}

/* Play icon style */
.play-icon {
    position: absolute;
    transform: translate(10px, -53px);
    background: url('../images/play-icon.svg') no-repeat;
    width: 40px;
    height: 40px;
    background-size: cover;
    display: none;
    transition: filter 0.05s ease-in;
}

.play-icon:hover, .like-icon:hover, .download-icon:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

.like-icon {
    position: absolute;
    right: 10px;
    transform: translate(0px, -53px);
    background: url('../images/like-icon.svg') no-repeat; /* Default like icon */
    width: 40px;
    height: 40px;
    background-size: cover;
    display: none;
    transition: filter 0.05s ease-in;
}




.like-icon.liked {
    background-image: url('../images/liked-icon.svg'); /* Liked icon */
}

.download-icon {
    position: absolute;
    right: 10px;
    transform: translate(0px, -98px);
    background: url('../images/download-icon.png') no-repeat;
    width: 40px;
    height: 40px;
    background-size: cover;
    display: none;
    transition: filter 0.05s ease-in;
}


/* Show play icon on hover */
.gallery:hover .play-icon, .gallery:hover .like-icon, .gallery:hover .download-icon {
    display: block;
}

.gallery:hover img {
    filter: brightness(80%);
}

.gallery:hover .blur {
    display: none;
}

.cover {
    position: relative;
}

.blur {
    position: absolute;
    transform: translate(0%,5%) scale(0.93);
    filter: blur(6px);
    z-index: -1;
}

.blur2 {
    position: absolute;
    filter: blur(16px);
    z-index: -1;
    left:0px;
}

#albumCover {
    width: 55px;
    border-radius: 5px;
    margin: 5px;
}

#playButton {
    z-index: 0;
    width: 64px;
    height: 64px;
}

#loopButton {
    z-index: 0;
    width: 50x;
    height: 50px;
}

#playButton:hover {
    cursor: pointer;
    filter: brightness(0.5);
    transition: filter 0.05s ease-in;
}

#loopButton:hover {
    cursor: pointer;
    filter: brightness(0.5);
    transition: filter 0.05s ease-in;
}


/* styly slideru */
input[type="range"] {
    width: calc(100vw - 280px);
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    height: 15px;
}

input[type="range"].volumeSlider{
    width: 200px;
    right: 185px;
    position:fixed;
}

input[type="range"]:focus {
    outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
    background: #4d4e52;
    height: 5px;
    overflow: hidden;
    transition: height 0.1s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: 0px;
    background-color: #9da3b4;
    height: 5px;
    width: 0px;
    box-shadow: -100vw 0 0 100vw #9da3b4;
    transition: height 0.1s ease-in-out;
}

input[type="range"]:focus::-webkit-slider-thumb {
    margin-top: -4px;
    height: 10px;
    transition: height 0.1s ease-in-out;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    height: 10px;
    transition: height 0.1s ease-in-out;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
    background: #4d4e52;
    height: 5px;
    transition: height 0.1s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0;
    background-color: #9da3b4;
    height: 5px;
    width: 0px;
    transition: height 0.05s ease-in-out;
}

input[type="range"]:focus::-moz-range-thumb {
    height: 10px;
    transition: height 0.1s ease-in-out;
}

input[type="range"]:focus::-moz-range-track {
    height: 10px;
    transition: height 0.1s ease-in-out;
}

input[type="range"]::-moz-range-progress {
    background-color: #9da3b4; 
    height: 5px;
    transition: height 0.1s ease-in-out;
}

input[type="range"]:focus::-moz-range-progress {
    height: 10px;
    transition: height 0.1s ease-in-out;
}



/* konec stylů slideru */


#audioPlayer {
    display:none;
}

#remainingTime {
    margin-right: 50px;
}

/* Fullscreen mód */

.center {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#cover {
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    border-radius: 12px;
}

.fullscreenblur {
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    filter: blur(100px);
    z-index: -1;
}

.controls {
    position: absolute;
    top: 80%; left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    border-radius: 25px;
    background-color: rgba(32, 32, 32, 0.75);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
}

.controls .like-icon{
    background-image: url("../images/white-like-icon.svg");
}

.controls .like-icon.liked{
    background-image: url("../images/white-liked-icon.svg");
}

.controls .download-icon{
    background-image: url("../images/white-download-icon.png");
}

.controls .download-icon, .controls .like-icon, .controls #playButton, .controls #loopButton{
    margin: 10px;
    width: 64px;
    height: 64px;
    position: initial;
    right: initial;
    transform: initial;
    display: flex;
}

.controls #loopButton{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.controls .progress-bar{
    margin-left:22px;
    margin-right:0px;
    margin-top:0px;
    display: flex;
}

.controls .progress-bar span{
    margin-top: -8px;
}

.buttons {
    display: flex;
    padding: 0px;
    position: relative;
    justify-content:center;
    align-items:center;
}

.controls span{
    font-size: 18px;
}

.titles {
    width:fit-content;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    text-align: center;
}

.controls #remainingTime {
    margin-right: 25px;
    margin-left: 10px;
}

.controls #currentTime2 {
    margin-right: 10px;
}

ul.gaps {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.progress-bar #volumeButton{
    margin: 5px;
    width: 32px;
    height: 32px;
}

.controls .volumeslider{
    width: 350px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    justify-content:center;
    align-items: center;
}



/* styly slideru */

.controls{
    input[type="range"] {
        width: 500px;
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        cursor: pointer;
        height: 5px;
    }
            
    /***** Chrome, Safari, Opera, and Edge Chromium *****/
    input[type="range"]::-webkit-slider-runnable-track {
        height: 7px;
    }
    
    input[type="range"]::-webkit-slider-thumb {
        height: 7px;
    }
    
    input[type="range"]:focus::-webkit-slider-thumb {
        height: 12px;
    }
    
    input[type="range"]:focus::-webkit-slider-runnable-track {
        height: 12px;
    }
    
    /******** Firefox ********/
    input[type="range"]::-moz-range-track {
        height: 7px;
    }
    
    input[type="range"]::-moz-range-thumb {
        height: 7px;
    }
    
    input[type="range"]:focus::-moz-range-thumb {
        height: 12px;
    }
    
    input[type="range"]:focus::-moz-range-track {
        height: 12px;
    }
    
    input[type="range"]::-moz-range-progress {
        height: 7px;
    }
    
    input[type="range"]:focus::-moz-range-progress {
        height: 12px;
    }
}





/*    Responzivnost    */
@media screen and (max-width: 1200px) {
    .responsive {
        padding: 0 6px;
        float: left;
        width: 25%;
        height: 25vw;
    }

    .skladbadiv {
        grid-template-columns: 38px 64px 1fr 64px 38px;
    }

    .pc {
        display: none;
    }

    .mobil {
        display: unset;
    }

}


/*    Užší Responzivnost    */
@media screen and (max-width: 1000px) {
    .responsive {
        padding: 0 6px;
        float: left;
        width: 33.332%;
        height: 31vw;
    }

}
  
/*    Responzivnost mobil    */
@media screen and (max-width: 600px) {   
    p, span, a, b, i{
        font-size: 0.95rem;
    }

    .responsive {
        padding: 0 6px;
        float: left;
        width: 50%;
        height: 62vw;
    }

    .skladbadiv {
        grid-template-columns: 38px 64px 1fr 38px;
    }

    .playtime {
        display: none;
    }

    .sidebar{
        display:none;
    }

    .main {
        margin-left:0px;
        padding-top:0px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    html{ 
        padding-bottom: 50px;
    }

    .footer{
        display: grid;
    }
    
    ul.topbar{
        margin-left: 0px;
        width: calc(100% - 14px);
        list-style-type: none;
        margin: 7px;
        border-radius: 15px;
        bottom: 62px;
        top: auto;
        height: 70px;
    }

    .topbar li{
        float: left;
    }
    
    ul.progress-bar{
        margin-left:17px;
        margin-top:auto;
        bottom: 61px;
        top: unset;
    }

    input[type="range"] {
        width: calc(100vw - 53px);
    }

    @-moz-document url-prefix() {
        ul.progress-bar{
            margin-left:17px;
            margin-top:auto;
            bottom: 58px;
            top: unset;
        }

        input[type="range"] {
            width: calc(100vw - 43px);
        }
    }
   
    #songinfoli {
        width:calc(100% - 260px); 
        overflow:hidden; 
        white-space:nowrap;
        display:flex;
    }

    #songTitle {
        display: inline-block;
    }

    #artist {
        display: inline-block;
    }

    #remainingTime {
        margin-right: 25px;
    }
      
    .marquee-animation-title {
        animation: marquee 7s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }
        40% {
            transform: translateX(0%);
        }
        70% {
          transform: translateX(-100%);
        }
        70.01% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0%);
        }
    }
    
}
  