body, html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #141414;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white; 
}

h1, h2, h3 {
    text-shadow: 0 0 120px #fff;
}

.sidebar{
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    width: 280px;
    background-color: #141414;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
.sidebar a {
    display: block;
    color: #202022;
    margin-top: 4px;
    padding-top: 8px;
    margin-bottom: 4px;
    padding-bottom: 8px;
    padding-left: 20px;
    color: white; 
    text-decoration: none;
}
    
.sidebar a:hover {
    background-color: #373742;
    border-radius: 7px;
    color: white;
}

.topbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left:280px;
    width: 100%;
    height:65px;
    background-color: rgba(32, 32, 34, 0.65);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    position: fixed;
    z-index: 1000;
}

.topbar li{
    float:left;
    display: block;
}

.topbar input[type=text],li input[type=text] {
    width: 100%;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 3px;
    background: #202022;
    color: white;
}

li button {
    width: 25%;
    padding: 6px;
    margin-top: 4px;
    background: #141414;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.main {
    margin-left:280px;
    padding: 65px 16px 1px;
    height:1000px;
}

.gallery {
    position: relative;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: filter 0.15s ease;
}
  
div.desc {
    padding: 2px;
    text-align: center;
}
  
* {
    box-sizing: border-box;
}
  
.responsive {
    padding: 0 6px;
    float: left;
    width: 16.5%;
    height: 20vw;
}

/* Play icon style */
.play-icon {
    position: absolute;
    transform: translate(10px, -53px);
    background: url('play-icon.svg') no-repeat;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    background-size: cover;
    display: none; /* Initially hide */
    transition: filter 0.05s ease-in;
}

.play-icon:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

/* Show play icon on hover */
.gallery:hover .play-icon {
    display: block;
}

.gallery:hover img {
    filter: brightness(80%); /* Adjust brightness as needed */
}

.cover {
    position: relative;
}

.blur {
    position: absolute;
    filter: blur(75px);
    z-index: -1;
}

.blur2 {
    position: absolute;
    filter: blur(16px);
    z-index: -1;
}

#albumCover {
    width: 55px;
    border-radius: 5px;
    margin: 5px;
}

#playButton {
    z-index: 0;
}

#playButton:hover {
    cursor: pointer;
    filter: brightness(0.5);
    transition: filter 0.05s ease-in;
}


/* styly slideru */
.slidecontainer {
    margin-top: 20px;
    width: 500px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    /*background: transparent;*/
    cursor: pointer;
    width: 15rem;
}


/* konec stylů slideru */


#audioPlayer {
    display:none;
}

#currentTime {
    margin-left: 150px;
    margin-right: 10px;
}

#durationTime {
    margin-left: 10px;
}